$h1-font: 'Courgette', cursive;
$h1-color: #827272;
$div-height: 700px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


body{
  margin: 0 auto;
  width: auto;
  background-color: gray;
}

nav{
  display: flex;
  justify-content: flex-start;
  position: fixed;
  background-color: black;
  width: 100%;
  color: invert(black);
  text-decoration: none;
  list-style: none;
  height: 30px;
  & li {
    padding: 10px 40px;
    align-content: flex-end;
    top: 50%
  }
}


.intro{
  //position: absolute;
  background: url("images/mac.jpg");
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: $div-height;

}



h1 {
  //position: relative;
  text-align: center;
  vertical-align: center;
  margin: 0;
  height: 350px;
  line-height: 350px;
  font-size: 100px;
  color: $h1-color;
  font-family: $h1-font;
}

.icons{
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
.icons img{
  height: 100px;
  width: 100px;
  margin: 0px 50px;

}

.about-me{
  height: $div-height;
  display: flex;
}

.about-me-text{
  flex: 0 0 55%;
  //flex-grow: 7;
  justify-content: flex-start;
  //width: 60%;
  padding: 30px 0px 30px 50px;
}
.about-me-logos{
    & img{
      @include border-radius(20px);
      height: 180px;
      width: 180px;
      margin: 20px auto;
    }
  //width: 40%;
  flex: 0 0 40%;
  //flex-grow: 3;
  display: flex;
  flex-direction: column;
  //flex-wrap: nowrap;
  justify-content: center;
  align-content: center;

}
.about-me-logos img{

}

.projects{
  height: $div-height;
  background-color: darken(#389e83,10%);
}



footer{
  background-color: black;
  height: 100px;
  color: white;
  margin: 0 auto;
}

footer p {
  margin: 0;
  padding: 50px 0px 0px 0px;
  text-align: center;
}
